@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,100;1,200;1,300;1,500;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "popping", sans-serif;
  height: 100vh;
  background: wheat;
}

.images {
  width: 275px;
  height: 183px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 90px auto;
  background-color: aliceblue;
  width: 900px;
}

h1 {
  color: rgb(182, 11, 11);
  font-size: 33px;
}

.menu {
  margin: 30px auto;
}
.menu a {
  margin: auto 30px;
  text-decoration: none;
  background-color: aqua;
  padding: 8px 22px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 100px;
}
.all-animals {
  width: 300px;
  padding: 10px;
}
.all-animals img {
  width: 100%;
}
input{height: 30px;
outline: none;
font-size: 17px;
border-radius: 5px;}